/* Home Section*/
.hero {
  display: flex;
  justify-content: space-between;
  padding: 14rem 11rem;
}

.hero h1 {
  font-size: 3.5rem;
  color: #f9fafb;
}

.hero p {
  font-size: 19px;
  color: #a1a1aa;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.ctaButton {
  background: linear-gradient(135deg, #4315cdc9, #a78bfa);
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-top: 2rem;
  transition: all 0.3s ease;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.profileWrapper {
  width: 410px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.profilePic {
  height: 400px;
  width: 410px;
  border-radius: 50%;
  object-fit: cover;

  transition:
    transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.profilePic:hover {
  transform: translateY(-10px);
  box-shadow:
    0 28px 35px rgba(0, 0, 0, 0.55),
    0 0 25px rgba(167, 139, 250, 0.45);
}

@media (max-width: 768px) {
  /* HERO SECTION */
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 3rem 2rem;
    margin-top: 4rem;
    gap: 3rem;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 16px;
  }

  .buttonsWrapper {
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 10px;
  }

  .ctaButton {
    margin-top: 1.2rem;
    padding: 0.9rem 1.6rem;
    font-size: 1rem;
  }

  /* PROFILE IMAGE */
  .profileWrapper {
    width: 280px;
    height: 280px;
  }

  .profilePic {
    width: 280px;
    height: 280px;
  }

  .profilePic:hover {
    transform: translateY(-6px);
    box-shadow:
      0 18px 25px rgba(0, 0, 0, 0.5),
      0 0 18px rgba(167, 139, 250, 0.4);
  }
}
