#root {
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
}

section,
.hero,
.about,
.projects,
.experience,
.contact {
  scroll-margin-top: 110px;
}

body {
  background-color: #0b0f1a;
}
